svg {
	position:absolute;
	top: 0px;
	left: 0px;
}

.red {
	fill: #c1272d;
	stroke: #fff;
	stroke-width: 2px;
	fill-opacity: .1;
	animation-name: buttonpulse;
	animation-delay: 4s;
  animation-duration: 4s;
  animation-iteration-count: 3;
}

#color-underlay {
	opacity:0.25;
	animation-name: example;
  animation-duration: 6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes example {
    0%   {opacity:0.25;}
    50%  {opacity:0.75;}
    100% {opacity:0.95;}
}

@keyframes buttonpulse {
    0%   {fill-opacity:0.1;}
    50%  {fill-opacity:.75;}
    100% {fill-opacity:0.1;}
}

