body {
	font-family: "texta";
	overflow: hidden ;
}

svg {
	position:absolute;
	top: 0px;
	left: 0px;
}

.pulse {
	opacity:0.5;
	animation-name: buttonpulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


.fadeout {
	animation-name: fadeOff;
	animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.fadein {
	animation-name: fadeOff;
	animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-direction: reverse;
  animation-fill-mode: forwards;
}

@keyframes fadeOff {
    0%   {opacity:1;}
    100%  {opacity:0;}
}

@keyframes buttonpulse {
    0%   {opacity:0.5;}
    100%  {opacity:1;}
}

.hidden {
	opacity: 0;
}
